sprite(param)
	'transparent url(%s) no-repeat %s %s; width: %s; height:%s;' % param

top_left = ('default/sprites.png' -2px -2px 9px 23px)
top_right = ('default/sprites.png' -15px -2px 9px 23px)
go_reload = ('default/sprites.png' -28px -2px 20px 20px)
go_outside = ('default/sprites.png' -52px -2px 20px 20px)
go_off = ('default/sprites.png' -2px -29px 20px 20px)
go_on = ('default/sprites.png' -26px -29px 20px 20px)
sizer = ('default/sprites.png' -50px -29px 9px 19px)
go_back = ('default/sprites.png' -2px -53px 16px 16px)
go_top = ('default/sprites.png' -22px -53px 16px 16px)
go_next = ('default/sprites.png' -42px -53px 16px 16px)
maximize = ('default/sprites.png' -76px -2px 14px 15px)
minimize = ('default/sprites.png' -76px -21px 14px 15px)
close = ('default/sprites.png' -76px -40px 14px 14px)

