sprite(param)
	'transparent url(%s) no-repeat %s %s; width: %s; height:%s;' % param

top_left = ('default/sprites.png' -2px -2px 9px 23px)
top_right = ('default/sprites.png' -15px -2px 9px 23px)
go_off = ('default/sprites.png' -28px -2px 20px 20px)
go_on = ('default/sprites.png' -52px -2px 20px 20px)
sizer = ('default/sprites.png' -2px -29px 9px 19px)
maximize = ('default/sprites.png' -15px -29px 14px 15px)
minimize = ('default/sprites.png' -33px -29px 14px 15px)
close = ('default/sprites.png' -51px -29px 14px 14px)

