sprite(param)
	'transparent url(%s) no-repeat %s %s; width: %s; height:%s;' % param

google = ('default/sprites.png' -2px -2px 72px 28px)
wiki = ('default/sprites.png' -2px -34px 24px 24px)
top_right = ('default/sprites.png' -30px -34px 9px 23px)
top_left = ('default/sprites.png' -43px -34px 9px 23px)
go_exp = ('default/sprites.png' -78px -2px 20px 20px)
go_off = ('default/sprites.png' -78px -26px 20px 20px)
go_on = ('default/sprites.png' -2px -62px 20px 20px)
sizer = ('default/sprites.png' -56px -34px 9px 19px)
maximize = ('default/sprites.png' -26px -62px 14px 15px)
minimize = ('default/sprites.png' -44px -62px 14px 15px)
close = ('default/sprites.png' -62px -62px 14px 14px)

