.modal-background
{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#777;
    -moz-opacity:0.50; 
	/* filter:alpha(opacity=50); */
	opacity:0.50;
}

.window-container
{
	width:350px;
	position:absolute;
	left:350;
	top:200;
	font-size:13px;
	font-family:verdana;
}

.window-shaddow {
	box-shadow:0px 45px 30px 0px #C9C9C9;
	-webkit-box-shadow:0px 45px 30px 0px #C9C9C9;
	-moz-box-shadow:0px 45px 30px 0px #C9C9C9;
}

.window-titleBar
{
    height:23px;
    margin:0 9px 0 9px;
    text-align:center;
}

.window-titleBar-content
{
    height:23px;
    text-align:center;
    padding-top:5px;
    background: transparent url(default/top_mid.gif) repeat-x;
   	cursor: move;
}

.window-titleBar-leftCorner
{
	background: sprite(top_left);	/*top_left #E4E4E4 */ 
    position: absolute;
	left: 0px;
	top: 0px;
}

.window-titleBar-rightCorner
{
	background: sprite(top_right); /*top_right #E4E4E4*/
    position: absolute;
	right: 0px;
	top: 0px;
}

.window-minimizeButton
{
	background: sprite(minimize);/*minimize*/
	position: absolute;
	left: 35px;
	top: 5px;
	cursor: pointer;
}

.window-maximizeButton
{
    background: sprite(maximize);   /*maximize:     transparent url(default/sprites.png) no-repeat -29px -0px; width: 14px; height: 14px;*/
	position: absolute;
	left: 55px;
	top: 5px;
	cursor: pointer;
}




.window-closeButton
{
	background: sprite(close);	/*close*/
	position: absolute;
	left: 15px;
	top: 5px;
	cursor: pointer;
}


.window-content
{
	height:100%;
	background-color:#FFFFFF;
	font-size:13px;
	font-family:verdana;
	color:#000000;
    border-left:1px solid #AAA;
    border-right:1px solid #AAA;
    overflow:auto;
}


.window-statusBar
{
	height: 19px;
    position: relative;
    border-left:1px solid #AAA;
	overflow: hidden;
    background: transparent url(default/bottom_mid.gif) repeat-x;
}

.window-resizeIcon
{
    background: sprite(sizer);/*sizer*/
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: se-resize;
}