/* My page classes */
.__navi_div__
    border-radius 3px;
    background-color rgba(255,255,255,0.5)
    cursor pointer
    width auto

.__navi_inner_wrapper__
    background-color rgba(222,222,222,0.5)
    border-radius 3px;

.__navi_on__
    background sprite(go_on)

.__navi_off__
    background sprite(go_off)

/*
.__window_go_top__
    background sprite(go_top)
    cursor pointer

.__window_go_next__
    background sprite(go_next)
    cursor pointer

.__window_go_back__
    background sprite(go_back)
    cursor pointer

*/
