.hide
    display none

pre
    overflow auto
    white-space -moz-pre-wrap /* Mozilla */
    white-space -pre-wrap     /* Opera 4-6 */
    white-space -o-pre-wrap   /* Opera 7 */
    white-space pre-wrap      /* CSS3 */
    word-wrap break-word      /* IE 5.5+ */

hr
    border 0
    height 1px
    background-image -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    background-image    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    background-image     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    background-image      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))


/* Bootstrap Extend */
.navbar
    min-width 280px

.nav-header
    font-weight bold


/* My page classes */
.__navi_div__
    border-radius 3px;
    background-color rgba(255,255,255,0.5)
    cursor pointer

.__navi_on__
    background sprite(go_on)

.__navi_off__
    background sprite(go_off)

.__window_go_top__
    background sprite(go_top)
    cursor pointer

.__window_go_next__
    background sprite(go_next)
    cursor pointer

.__window_go_back__
    background sprite(go_back)
    cursor pointer


/* My page IDs */
#__explain_wrapper__
    margin-top 20px

#__search_form__
    margin-right 50px

#__search__
    position relative
    z-index 9999
    top 6px






/*@media (min-width: 300px) and (max-width: 997px) {*/
/*.navbar {*/
/*min-width: 300px;*/
/*}*/
/*}*/

/*.navbar-form .search-query {*/
/*padding-left: 29px;*/
/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);*/
/*background-repeat: no-repeat;*/
/*background-position: 12px 8px;*/
/*}*/


