.__navi_div__{border-radius:3px;background-color:rgba(255,255,255,0.5);cursor:pointer;width:auto}
.__navi_on__{background:transparent url('default/sprites.png') no-repeat -52px -2px; width: 20px; height:20px;}
.__navi_off__{background:transparent url('default/sprites.png') no-repeat -28px -2px; width: 20px; height:20px;}
