/* My page classes */
.__navi_div__
    border-radius 3px;
    background-color rgba(255,255,255,0.5)
    cursor pointer
    width auto

.__navi_inner_wrapper__
    background-color rgba(222,222,222,0.8)
    border-radius 3px
    padding 5px
    text-align left
    font-size 10pt
    font-family monospace,Arial,sans-serif

.__navi_inner_wrapper__ input
    vertical-align baseline

.__navi_on__
    background sprite(go_on)

.__navi_off__
    background sprite(go_off)

.__navi_exp__
    background sprite(go_exp)

/*
.__window_go_top__
    background sprite(go_top)
    cursor pointer

.__window_go_next__
    background sprite(go_next)
    cursor pointer

.__window_go_back__
    background sprite(go_back)
    cursor pointer

*/
