.__navi_div__{border-radius:3px;background-color:rgba(255,255,255,0.5);cursor:pointer;width:auto}
.__navi_on__{background:transparent url('default/sprites.png') no-repeat -26px -29px; width: 20px; height:20px;}
.__navi_off__{background:transparent url('default/sprites.png') no-repeat -2px -29px; width: 20px; height:20px;}
.__window_go_top__{background:transparent url('default/sprites.png') no-repeat -22px -53px; width: 16px; height:16px;;cursor:pointer}
.__window_go_next__{background:transparent url('default/sprites.png') no-repeat -42px -53px; width: 16px; height:16px;;cursor:pointer}
.__window_go_back__{background:transparent url('default/sprites.png') no-repeat -2px -53px; width: 16px; height:16px;;cursor:pointer}
